.header__title {
  margin: 0;
  color: white;
  font-family: "antonio";
  font-size: 28px;
  font-weight: 500;
  opacity: 0.5;
  line-height: 36px;
  letter-spacing: -1.05px;
}

@media screen and (max-width: 866px) {
  .header__title {
    display: flex;
    justify-content: center;
    margin-bottom: 39px;
  }
}

@media screen and (max-width: 700px) {
  .header__title {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}
