.plant-info__description {
  font-family: "spartan";
  font-size: 14px;
  line-height: 25px;
  color: white;
  max-width: 350px;
  opacity: 1;
  margin: 23px 0 24px 0;
}

@media screen and (max-width: 866px) {
  .plant-info__description {
    font-size: 11px;
  }
}
@media screen and (max-width: 700px) {
  .plant-info__description {
    text-align: center;
  }
}
