.plant-info__description {
  font-family: "spartan";
  font-size: 14px;
  line-height: 25px;
  color: white;
  max-width: 350px;
  animation: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both running
    slide-in-fwd-center;
}
