.header__nav {
  display: flex;
  color: white;
  gap: 33px;
  opacity: 0.75;
  font-size: 11px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  list-style: none;
  padding: 0 40px 0 0;
  margin: 0;
  align-items: center;
}

@media screen and (max-width: 866px) {
  .header__nav {
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .header__nav {
    display: none;
  }
}
