.facts-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(100px, 255px));
  gap: 30px;
  color: white;
  list-style-type: none;
  padding: 0 0 56px 0;
  text-indent: 0;
  margin: 0 auto auto;
}

@media screen and (max-width: 700px) {
  .facts-grid {
    grid-template-columns: unset;
    grid-template-rows: repeat(4, 1fr);
    justify-content: unset;
  }
}
