.button-area__button-input_type_jupiter:checked + .button-area__button-label {
  background-color: rgba(216, 58, 52, 1);
}

@media screen and (max-width: 700px) {
  .button-area__button-input_type_jupiter:checked + .button-area__button-label {
    background-color: unset;
    border-bottom: 4px solid rgba(216, 58, 52, 1);
  }
}
