.button-area__button-input_type_mars:checked + .button-area__button-label {
  background-color: rgba(209, 76, 50, 1);
}


@media screen and (max-width: 700px) {
  .button-area__button-input_type_mars:checked + .button-area__button-label {
    background-color: unset;
    border-bottom: 4px solid rgba(209, 76, 50, 1);
  }
}
