.planet-ilustration__img {
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 866px) {
  .planet-ilustration__img {
    max-width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .planet-ilustration__img {
    max-width: 80%;
  }
}
