.header__nav-mobile {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 7, 36, 1);
  left: 0;
  top: 70px;
  display: flex;
  overflow: hidden;
  margin: 0;
  flex-direction: column;
  padding: 44px 0 0 0;
  list-style: none;
  opacity: 1;
  animation: fadein 1s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
