.button-area {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

@media screen and (max-width: 866px) {
  .button-area {
    max-width: 281px;
    width: 100%;
    padding-left: 30px;
  }
}

@media screen and (max-width: 700px) {
  .button-area {
    position: absolute;
    padding: 0;
    top: 69px;
    flex-direction: row;
    max-width: 100%;
  }
}
