.header {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 23px 32px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: -1.05px;
}
